.friend-card-container {
  display: flex;
  flex-wrap: wrap;
}

.friend-card {
  width: 20%;
  background: deepskyblue;
  padding: 2.5%;
  margin: 2.5%;

  text-align: center;
  color: white;
}

.friend-card button {
  padding: 5px;
  margin: 20px 10px;
  border-radius: 5px;
}

.edit-button {
  background: teal;
  color: white;
}

.delete-button {
  background: orangered;
  color: white;
}

.hidden {
  display: none;
}
